.main_w {
    width: 100%;height: 100%;padding-top: 4.8rem;padding-bottom: 5rem;
    /* background: rgb(13,20,24);
    background: linear-gradient(333deg, rgba(13,20,24,1) 0%, rgba(13,20,24,1) 14%, rgba(19,28,28,1) 29%, rgba(28,28,46,1) 44%, rgba(24,28,45,1) 49%, rgba(18,27,43,1) 54%, rgba(19,28,28,1) 64%, rgba(13,20,24,1) 100%, rgba(5,4,36,1) 100%, rgba(13,20,24,1) 100%, rgba(9,9,121,0.8757878151260504) 100%, rgba(0,212,255,1) 100%); */
}
.staketimer {
    color: #010101;font-size: 12px;font-weight: 700;margin: 1rem auto;background-color: #70dff8db ;border-radius: 120px;
    width: fit-content;padding: 4px 12px;display: flex;
}
.lighttheme {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    /* border: var(--border-dark); */
}
.darktheme {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
    /* border: var(--border-dark) */
}
.main .notfound_p {
    width: 100%;margin: auto;text-align: center;
}
.main .w_alert {
    position: fixed;background-color: rgba(60, 59, 59, 0.677);font-size: 12px;border-radius: 8px;width: 90%;
    padding: 1px 2px;color: #f1f1f1;margin: 2rem auto;text-align: center;padding: 20px;
    border: 1px solid #454343;left: 10px;right: 10px;bottom: 10%;
}
.main .w_alert .walertclosediv {
    margin-right: 15px;margin-top: 5px;text-align: right;color: #ffffff;position: absolute;
    top: 0;right: -5px;
}
.main .w_alert .walertclosediv .walertclosedivbtn {
    color: white;   font-size: 28px;
}
.main .notfound {
    text-align: center;font-family: "RussoOne Regular",sans-serif;margin: 20px auto;
}
.main_c {
    width: 100%;display: flex;flex-direction: row;justify-content: space-between;
}
.main_c .sidebar_toggle_btn {
    margin-left: 0;margin-top: 0;background-color: transparent !important;border: none;
    position: relative;display: none;z-index: 0;
}
/* .main_c .sidebar_toggle_btn .toggle_icon {
    font-size: 28px;
} */
.main_c .sidebar_toggle_btn .user_icon {
    font-size: 14px !important;
}
.main_c .sidebar {
    width: 25%;padding-top: 0;position: fixed;height: inherit;bottom: 0;top: 0;z-index: 0;
    border-right: 1px solid #4c4d4c95;z-index: 0;border-left: none;border-bottom: 0;
}
.main_c .main {
    width: 100%;height: 100%;margin-left: 25%;
}
.main_c .sidebar.sidebartoggled {
    width: 0;
}
.main_c .main.sidebartoggled {
    width: 100%;height: 100%;
}
.main_c .sidebar.toggled {
    width: 0;
}
.darkmod {
    border: 1px solid #f1f1f13c;border-radius: 0;background-color: #16131376;
    color: var(--text-color-dark);
}
.lightmod {
    border: 1px solid #96939386;background-color: #252525c2;border-radius: 0;
    color: var(--text-color-dark);
}
.main_w .main_c .uploadprof {
    width: 100%;
}
.main_w .main_c .uploadprof  h3 {
    margin: 20px auto 10px auto;text-align: center;
}
.main_w .main_c .dragdrop {
    width: 96%;margin: 10px auto 50px auto;padding: 0 0 0 0;
    border-radius: 16px;margin-top: 0;height: 350px;
    border: 1px solid #3f3f3f;
}
.main .main_c .rwds {
    width: 94%;margin: 25px auto;text-align: center;border-radius: 16px;padding: 10px;
    font-size: 13px;
}
.main .main_c .rwds .ubagde {
    color: #e3a204;text-transform: capitalize;
}
.main .main_c .rwds .cat {
    color: #e3a204;
}
.main .main_c .rwds .points {
    display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-between;padding: 10px 20px;
}
.main .upuname {
    width: 96%;margin: 20px auto;text-align: center;
}
.main .upuname .upunamec {
    border: 1px solid #3f3f3f;border-radius: 16px;padding: 20px;margin: 8px auto;
}
.main .upuname .upunamec  input {
    width: 100%;background-color: #16131376;border: 1px solid #3f3f3f;padding: 4px;border-radius: 4px;
    height: 35px;color: #f1f1f1;
}
.main .upuname .upunamec button {
    background-color: #e3a204;padding: 4px 36px;width: fit-content;font-size: 14px;font-weight: 900;
    border-radius: 4px;margin: 20px auto auto auto;
}
.main .width_stake {
    position: absolute;margin: 0 auto; width: 40%;
    border-radius: 16px;z-index: 99;text-align: center;left: 0;right: 0;
    padding: 10px 10px 10px 10px;background-color: #525050;
}
.main .width_stake .width_stake_h {
    display: flex;flex-direction: row;justify-content: space-between;margin: 0 0 35px 0;
    border-bottom: 1px solid #8d8f9161;
}
.main .width_stake .width_stake_h h1 {
    font-weight: 600;font-size: 16px;text-align: left;
}
.main .width_stake .width_stake_c_ina {
    width: 100%;margin: 15px 0;
}
.main .width_stake .width_stake_c_ina .wbtn {
    text-align: right;
}
.main .width_stake .width_stake_c_ina .wbtn .maxwithdbtn {
    border: none;font-size: 12px;font-weight: 600;text-decoration: underline;
}
.main .width_stake .width_stake_c_ina .list_tc {
    width: 100%;text-align: left;
}
.main .width_stake .width_stake_c_ina .list_tc .labelc {
    display: flex;flex-direction: row;justify-content: space-between;font-size: 13px
}
.main .width_stake .width_stake_c_ina label {
    text-align: left;width: 100%;font-size: 13px;font-weight: 600;
}
.main .width_stake .width_stake_c_ina input {
    width: 100%;background-color: #8d8f9161;height: 35px;border-radius: 4px;padding-left: 5px;
    font-size: 13px;
}
.main .width_stake .width_stake_c_ina select {
    width: 100%;background-color: #8d8f9161;height: 35px;border-radius: 4px;padding-left: 5px;
    font-size: 14px;
}
.main .width_stake .width_stake_c_in button.createlistitem_ {
        background-color: #e3a204;width: 100%;padding: 4px 6px;border-radius: 8px;margin: 35px auto;
        text-align: center;color: #454545;font-weight: 800;
}
.main .reflink {
    margin: 15px 30px 30px 30px;font-size: 14px;position: relative;
    margin: 2rem 1rem;text-align: left;border-radius: 20px;padding: 2rem 1rem 2rem 1rem;
    /* background: rgb(13,20,24); */
    /* background: linear-gradient(333deg, rgba(13,20,24,1) 0%, rgba(19,28,28,1) 0%, rgba(9,22,29,1) 0%, rgba(58,58,66,0.7049194677871149) 0%, rgba(57,57,62,0.9262079831932774) 0%, rgba(38,38,92,1) 0%, rgba(4,4,14,0.9626225490196079) 0%, rgba(0,0,0,1) 100%, rgba(18,27,43,1) 100%, rgba(19,28,28,1) 100%, rgba(13,20,24,1) 100%, rgba(5,4,36,1) 100%, rgba(13,20,24,1) 100%, rgba(9,9,121,0.8757878151260504) 100%, rgba(0,212,255,1) 100%); */
}
.main .reflink .reflinkdex {
    display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: flex-start;
}
.main .reflink .reflinkdex .reftxt {
    width: max-content;
}
.main .reflink .reflinkdex .refinput {
    width: 76%;margin-left: 2%;margin-right: 2%;
}
.main .reflink .reflinkdex .refbtn {
    width: 10%;
}
.main .reflink .reflinkdex .refinput input {
    background-color: #e3a204 ;color: #000000;font-size: 13px;font-weight: 500;padding: 3px 16px 3px 12px;
    border-radius: 60px;width: 100%;
}
.main .reflink .reflinkdex .refbtn button {
    background-color: orange;color: #2c2b2b;font-size: 13px;font-weight: 600;padding: 3px 12px;
    border-radius: 60px;width: fit-content;
}
.main .reflink .cw {
    position: relative;
}
.main .reflink .cw button {
    background-color: transparent;color: #ffffff;
}
.main .reflink .cw .cws {
    position: absolute;right: 0;left: 0;background-color: #161313;top: -60%;
    display: none;font-size: 13px;z-index: 9999;
}
.main .reflink .cw .cws div{ 
    position: relative;
}

.navlisttoggle {
    font-size: 38px !important;margin: 2px 0 2px 0;padding-left: 15px;color: #f1f1f1;
}
.main .reflink small {
    color: #e3a204 ;
}
.main .uname {
    font-size: 16px;font-family: "RussoOne Regular";text-transform: capitalize;
}
.main .head {
    margin: 2rem 1rem 2rem 1rem;text-align: center;border-radius: 20px;padding: 2rem 1rem 2rem 1rem;
    /* background: rgb(13,20,24);
    background: linear-gradient(333deg, rgba(13,20,24,1) 0%, rgba(19,28,28,1) 0%, rgba(9,22,29,1) 0%, rgba(58,58,66,0.7049194677871149) 0%, rgba(57,57,62,0.9262079831932774) 0%, rgba(38,38,92,1) 0%, rgba(4,4,14,0.9626225490196079) 0%, rgba(0,0,0,1) 100%, rgba(18,27,43,1) 100%, rgba(19,28,28,1) 100%, rgba(13,20,24,1) 100%, rgba(5,4,36,1) 100%, rgba(13,20,24,1) 100%, rgba(9,9,121,0.8757878151260504) 100%, rgba(0,212,255,1) 100%); */
}
.main .head h1 {
    font-family: "RussoOne Regular", sans-serif;font-size: 30px;font-weight: 700;
}
.main .head h3 {
    font-family: "RussoOne Regular", sans-serif;font-size: 20px;font-weight: 600;margin: 1rem auto;
}
.main .head p {
    margin: 5px 5px 5px 5px;padding: 10px;font-size: 14px;font-family: "RussoOne Regular", sans-serif;
    text-align: left;
}
.main .head .get_sd_btns {
    display: flex;justify-content: space-evenly;margin-top: 45px;
}
.main .head div a.getstarted {
    background-color: #e3a204;width: fit-content;padding: 2px 8px;border-radius: 60px;height: fit-content;
    font-family: "RussoOne Regular",sans-serif;font-size: 14px;font-weight: 600;box-shadow: 1px 1px 2px 2px #e3a204;
    color: #2c2b2b;
    /* background: rgb(13,20,24);
background: linear-gradient(333deg, rgba(13,20,24,1) 0%, rgba(9,22,29,1) 0%, rgba(58,58,66,0.7049194677871149) 0%, rgba(57,57,62,0.9262079831932774) 0%, rgba(38,38,92,1) 0%, rgba(4,4,14,0.9626225490196079) 0%, rgba(36,168,19,0.9192051820728291) 0%, rgba(37,203,6,1) 100%, rgba(0,0,0,1) 100%, rgba(18,27,43,1) 100%, rgba(19,28,28,1) 100%, rgba(13,20,24,1) 100%, rgba(5,4,36,1) 100%, rgba(13,20,24,1) 100%, rgba(9,9,121,0.8757878151260504) 100%, rgba(0,212,255,1) 100%); */
}
.main .head div a.learnmore {
    color: #e2d7d7;border: none;font-family: "RussoOne Regular";font-size: 14px;border: 2px solid #e3a204;border-radius: 120px;
    font-weight: 600;padding: 2px 18px 2px 18px;border-radius: 60px;margin-top: 0;
}
.main .airdrop_{
    margin: 20px 20px 120px 20px;padding: 20px 20px 20px 20px;border-radius: 16px;
}
.main .airdrop_ .airdroph1 {
    margin: 20px auto;text-align: center;font-size: 28px;
}
.main .airdrop_ .airdh {
    font-size: 16px;font-family: "RussoOne Regular",sans-serif;text-align: center;font-weight: 600;
    margin: 15px auto;
}
.main .airdrop_ .airdh2 {
    font-size: 16px;font-family: "RussoOne Regular",sans-serif;text-align: center;font-weight: 600;
    margin: 15px auto;
}
.main .airdrop_ .airdc {
    width: 100%;
} 
.main .airdrop_ .airdadd {
    margin: 30px auto;text-align: center;border-top: 2px solid #252525c2;border-bottom: 2px solid #252525c2;
    padding: 6px 0;
}
.main .airdrop_ .airdadd button {
    background-color: #e3a204;border-radius: 16px;padding: 2px 6px;
    width: fit-content;color: #010101;margin: 10px auto;
}
.main .airdrop_ .airdusers {
    margin: 50px 0;
}
.main .airdrop_ .airdc div {
    margin: 15px auto;
}
.main .airdrop_ .airdc div h3 {
    margin: 15px auto;text-align: center;font-size: 18px;font-weight: 600;
}
.main .airdrop_ .airdc div ul li {
    margin: 5px 0 5px 5px;font-size: 14px;
}
.main .airdrop_ .airdc div ul li a {
    color: #e3a204;font-size: 14px;font-weight: 600;
}
.main .airdrop_ .airdc blockquote {
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
.main .airdrop_ .airdc blockquote:before {
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
.main .airdrop_ .airdc blockquote p {
    display: inline;
}
.main .stk_p { 
    width: 100%;margin: 20px auto 0 auto;text-align: auto;padding-bottom: 60px;
}
.main .stake_p {
    display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-between;
    margin: 20px 0 0 0;padding: 0 20px 100px 20px;
}
.main .stake {
    width: 50%;margin: 30px auto;padding: 12px 12px;border-radius: 20px;
}
.main .mine_ {
    width: 50%;margin: 30px auto !important;border-radius: 20px !important;
}
.main .mine_ .mine_r {
    font-size: 14px;text-align: left;margin: 20px 0 0 30px;
}
.main .mine_ .mine_m {
    font-size: 14px;text-align: left;margin: 20px 0 0 30px;
    width: fit-content;padding: 2px 0 2px 0;border-radius: 20px;
}
.main .mine_ .mine_m .mfrd {
    border-radius: 20px;width: fit-content;background-color: #ffffff;color: #010101;
    padding: 1px 4px;
}
.main .mine_ .mine_m .m_frd {
    margin-left: 5px;font-weight: 600;
}
.main .darkstakemod {
    border: 1px solid #f1f1f13c;border-radius: 16px;background-color: #16131376;
}
.main .lightstakemod {
    border: 1px solid #96939386;background-color: #6e6b6b64;border-radius: 16px;
}
.main .stk_h1 {
    width: 100%;margin: 20px auto;text-align: center;font-family: "RussoOne Regular", sans-serif;
    font-size: 22px;font-weight: 600;
}
.main .stake .stake_mod {
    margin: 0;margin: 0;box-shadow: 0px 0px 8px 8px #43434349;
}
.main .mine_ .stake_mod {
    margin: 0;box-shadow: 0px 0px 8px 8px #43434349;
}
.main .stake .stake_mod .top {
    padding: 10px 10px;border-top-left-radius: 16px;border-top-right-radius: 16px;
}
.main .stake .stake_mod .top h1 {
    font-family: "RussoOne Regular", sans-serif;font-weight: 600;text-align: center;font-size: 14px;
    margin-top: 20px;width: fit-content;border-radius: 4px;
    padding: 2px 8px;margin: 20px auto 5px auto;
}
.main .stake .stake_mod .s_m h3 {
    font-family: "RussoOne Regular", sans-serif;font-weight: 600;text-align: center;font-size: 14px;
    margin: .5rem 2rem;
}
.main .stake .stake_mod .s_m_in {
    width: 100%;padding: 10px 20px;
}
.main .stake .stake_mod .s_m_in .s_m_inna {
    width: 100%;margin: .4rem 0;
}
.main .stake .stake_mod .s_m_in .s_m_inna label {
    font-size: 14px;
}
.main .stake .stake_mod .s_m_in .s_m_inna .stkamt_p {
    background-color: #f8d170db;border-radius: 8px;margin-left: 5px;
    font-size: 10px;padding: 1px 4px 1px 4px;color: #2c2b2b;font-weight: 600;
}
.main .stake .stake_mod .s_m_in .s_m_inna .stkdur_p {
    background-color: #70dff8db;border-radius: 8px;margin-left: 5px;
    font-size: 11px;padding: 1px 4px 1px 4px;color: #2c2b2b;font-weight: 600;
}
.main .stake .stake_mod .s_m_in .s_m_inna .stkdur_y {
    background-color: #f89070db;border-radius: 8px;margin-left: 5px;
    font-size: 10px;padding: 1px 4px 1px 4px;color: #2c2b2b;font-weight: 600;
}
.main .stake .stake_mod .s_m_in .s_m_inna .s_m_in_c {
    width: 100%;display: flex;justify-content: space-between;margin-top: 20px;
}
.main .stake .stake_mod .s_m_in .s_m_inna .s_m_in_c .s_a {
    width: 100%;text-align: left;font-size: 12px;font-weight: 600;
    font-family: "RussoOne Regular",sans-serif;margin: 0;
}
.main .stake .stake_mod .s_m_in .s_m_inna .s_m_in_c .s_a  select {
    width: 100%;height: 30px;font-size: 14px;
    font-weight: 400;
}
.main .stake .stake_mod .s_m_in .s_m_inna .s_m_in_c .s_b {
    width: 50%;text-align: right;font-size: 12px;font-weight: 600;font-family: "RussoOne Regular",sans-serif;
}
.main .stake .stake_mod .s_m_in .s_m_inna .amountprog {
    width: 100%;
}
.main .stake .stake_mod .s_m_in .s_m_inna .amountprog progress {
    width: 100%;height: 5px;border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;border-top-right-radius: 8px;border-bottom-right-radius: 8px;
    border-radius: 8px;
}
.main .stake .stake_mod .s_m_in .apy {
    margin: 1rem auto;font-family: "RussoOne Regular", sans-serif;font-weight: 800;font-size: 20px;text-align: center;
}
.main .stake .stake_mod .s_m_in .interest_returns {
    width: 100%;
}
.main .stake .stake_mod .s_m_in .interest_returns ul {
    width: 100%;
}
.main .stake .stake_mod .s_m_in .interest_returns ul li {
    width: 100%;list-style: none;border-bottom: 1px solid #e2d7d7;margin-bottom: 1rem;
}
.main .stake .stake_mod .s_m_in .interest_returns ul li:first-child {
    border-bottom: none;font-weight: 600;font-family: "RussoOne Regular", sans-serif;
}
.main .stake .stake_mod .s_m_in .interest_returns ul li .ir_c {
    display: flex;justify-content: space-between;font-family: "RussoOne Regular", sans-serif;font-weight: 500;
    font-size: 14px;
}
.main .stake .stake_mod .s_m_in .cw_btn_div {
    width: 100%;margin: 2rem auto;text-align: center;
    justify-content: space-evenly;position: relative;
}
.main .stake .stake_mod .s_m_in .cw_btn_div .st_btns {
    display: flex;flex-direction: row;justify-content: space-between;
}
.main .stake .stake_mod .s_m_in .cw_btn_div .farm_btns {
    display: flex;flex-direction: row;justify-content: space-between;
}
.main .stake .stake_mod .s_m_in .cw_btn_div .farm_btns div {
    margin: 0 10px;width: 45%;
}
.main .stake .stake_mod .s_m_in .cw_btn_div .farm_btns div button {
    margin: 0 10px;width: 100%;height: 30px;
}
.main .stake .stake_mod .s_m_in .cw_btn_div .st_btns div {
    margin: 0 10px;
}
.main .stake .stake_mod .s_m_in .cw_btn_div .st_btns div button {
    margin: 0 10px;width: 100%;height: 30px;
}
/* .main .stake .stake_mod .s_m_in .cw_btn_div .w_alert {
    position: absolute;background-color: rgba(60, 59, 59, 0.677);top: -60px;font-size: 12px;border-radius: 8px;width: 90%;
    padding: 1px 2px;color: #f1f1f1;display: none;text-align: left;left: 0;right: 0;margin: auto;
    border: 1px solid #454343;
}
.main .stake .stake_mod .s_m_in .cw_btn_div .w_alert .walertclosediv {
    margin-right: 15px;margin-top: 5px;text-align: right;color: #ffffff;position: absolute;
    top: -10px;right: -35px;
}
.main .stake .stake_mod .s_m_in .cw_btn_div .w_alert .walertclosediv .walertclosedivbtn {
    color: white;font-size: 28px;
} */
.main .stake .stake_mod .s_m_in .cw_btn_div .estprof {
    font-size: 12px;font-family: "RussoOne Regular", sans-serif;display: none;
}
.main .stake .stake_mod .s_m_in .cw_btn_div .crwd {
    font-size: 12px;font-family: "RussoOne Regular", sans-serif;display: none;
}
.main .stake .stake_mod .s_m_in .cw_btn_div .crwd span {
    font-weight: 600;
}
.main .stake .stake_mod .s_m_in .cw_btn_div .estprof span {
    font-weight: 600;
}
.main .stake .stake_mod .s_m_in .cw_btn_div button {
    width: fit-content;padding: 1px 8px;font-weight: 600;color: black;
    border-radius: 120px;font-size: 13px;
}
.main .stake .stake_mod .s_m_in .cw_btn_div button.stakebtn {
    background-color: #e3a204 ;
}
.main .stake .stake_mod .s_m_in .cw_btn_div button.estrwd {
    background-color: #f89070db;
}
.main .stake .stake_mod .s_m_in .cw_btn_div button.calcrwd {
    background-color: orange;
}
.main .stake .stake_mod .s_m_in .cw_btn_div button.calcrwd {
    background-color: orange;
}
.main .stake .stake_mod .s_m_in .cw_btn_div button.stopmining {
    background-color: rgb(255, 0, 0);width: 100%;
}
.main .stake .stake_mod .s_m_in .cw_btn_div button.withd {
    background-color: orangered;
}
.main .stake .stake_mod .s_m_in .cw_btn_div button.withde {
    background-color: rgba(202, 163, 149, 0.547);color: #f1f1f1;cursor: not-allowed;
}
.main .stake .stake_mod .s_m_in .cw_btn_div button.stakebtn:active,.main .stake .stake_mod .s_m_in .cw_btn_div button.stakebtn:focus {
    background-color: #7e837e;
}
.main .stake .stake_mod .s_m_in .cw_btn_div button.calcrwd:active,.main .stake .stake_mod .s_m_in .cw_btn_div button.calcrwd:focus,.main .stake .stake_mod .s_m_in .cw_btn_div button.stopmining:focus {
    background-color: #7e837e;
}
.main .stake .stake_mod .s_m_in .cw_btn_div button.withd:active,.main .stake .stake_mod .s_m_in .cw_btn_div button.withd:focus {
    background-color: #7e837e;
}
.main .con_btns {
    position: absolute;top: 20px;right: 30px;display: none;
}
.connect {
    color: rgb(25, 26, 25);background-color: #ffffff;border-radius: 120px;padding: 3px 16px;font-size: 14px;
    font-weight: 800;
}
.connected {
    position: relative;background-color: transparent;border-radius: 120px;border: 1px solid #e3a204 ;
    color: #e3a204 ;font-size: 14px;padding: 3px 16px;
}
.connected span {
    position: absolute;font-size: 10px;top: -15px;background-color: #ffffff;width: fit-content;
    border-radius: 20px;padding: 1px 4px;color: #e3a204 ;right: 20%;
}  
.main table {
    width: 100%;margin: auto;margin-left: 0;text-align: left;border-radius: 8px;
}
.main table th {
    font-size: 14px;border: 1px solid #aeacac83;
    border-radius: 8px;padding: 3px;font-weight: 600;
}
.main table td {
    font-size: 14px;font-weight: 500;border: 1px solid #aeacac83;
    border-radius: 8px;padding: 3px;
}
@media (max-width: 1100px) {
    
    .main_w {
        width: 100%;
    }
    .main_c {
        width: 100%;
    }
    .main_c .main {
        width: 100%;height: 100%;margin-left: 0;
    }
    .main .width_stake {
        width: 80%;
    }
    .main_c .sidebar {
        width: 50%;z-index: 999;
    }
    .main_c .sidebar_toggle_btn {
        display: block;margin-top: -55px;margin-bottom: 30px;
        z-index: 0;
    }
    .main .stake {
        width: 90%;margin: 5rem auto;
    }
    .main .con_btns  {
        display: block;
    }
    .main .reflink input {
        width: 60%;margin-left: 0;
    }
    
}

@media (max-width: 767px) {
    .main .head {
        margin: -1rem 1rem 1rem 1rem;
    }
    .main .width_stake {
        width: 100%;padding: 12px 5px;margin: auto 0;
    }
    .main .mine_ .main .stake {
        width: 100%;
    }
    .main_c .main {
        width: 100%;height: 100%;
    }
    .main_c .main {
        width: 100%;height: 100%;margin-left: 0;
    }
    .main_c .sidebar {
        width: 60%;
    }
    .main .con_btns  {
        display: block;
    }
}

@media (max-width: 567px) {
    .main_c .sidebar {
        width: 60%;
    }
    .main_c .main {
        width: 100%;height: 100%;margin-left: 0;
    }
    .main .con_btns  {
        display: block;
    }
    .main .reflink .reflinkdex {
        display: block;flex-direction: none;justify-content: unset;
    }
    .main .reflink .reflinkdex .refinput {
        width: 100%;margin-left: 0;margin-right: 0;margin-top: 5px;margin-bottom: 5px;
    }
}

@media (max-width: 420px) {
    .main .reflink .cw .cws {
        top: -35%;
    }
}