/* background: linear-gradient(333deg, rgba(13,20,24,1) 0%, rgba(19,28,28,1) 0%, rgba(9,22,29,1) 0%, rgba(58,58,66,0.7049194677871149) 0%, rgba(57,57,62,0.9262079831932774) 0%, rgba(38,38,92,1) 0%, rgba(4,4,14,0.9626225490196079) 0%, rgba(0,0,0,1) 100%, rgba(18,27,43,1) 100%, rgba(19,28,28,1) 100%, rgba(13,20,24,1) 100%, rgba(5,4,36,1) 100%, rgba(13,20,24,1) 100%, rgba(9,9,121,0.8757878151260504) 100%, rgba(0,212,255,1) 100%);  */

.chronoh1 {
  font-size: 14px !important;font-family: "RussoOne Regular";text-transform: capitalize;font-weight: 900;padding: 0;
}
.chronop {
  font-size: 13px !important;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;text-transform: capitalize;color: #18221b;font-weight: 700;
  text-align: center;margin: 0 auto;
}
.chronotitleicon {
  margin-left: 6px;
}
.chronotitleicon2 {
  color: orange;
}
 .homemain {
    margin: 0 auto 0 auto;padding: 30px 0 10px 0;overflow-x: hidden;position: relative;
    background-image: url("../assets/images/bgbg.png");background-size: cover;background-repeat: no-repeat;
}
.lighttheme {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
  
}
.darktheme {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}
.blk {
  width: 100%;margin: 0 auto 0 auto;background-color: transparent;padding-top: 80px;position: relative;z-index: 0;
  background-image: url("../assets/images/guessfootballherobg.png");background-size: cover;padding-bottom: 120px;
  background-repeat: no-repeat;
}
.blk .overlay_d {
  position: absolute;background-color: #0000008a;z-index: 1;top: 0;left: 0;right: 0;bottom: 0;
}
.blk .blk_inner {
  display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-between;position: relative;z-index: 2;
}
.blk .blk_inner .blkc {
  width: 45%;padding: 25px;
}
.blk .blk_inner .blkc1 h1 {
  font-size: 50px;font-weight: bolder;margin: 0 auto 65px auto;text-align: center;
  font-family: "RussoOne Regular";
  line-height: 68px;letter-spacing: 6px;color: #e28305;
}
.blk .blk_inner .blkc2 h1 {
  font-size: 35px;font-weight: bolder;margin: 25px auto;text-align: center;
  font-family: "PaytoneOne Regular";color: #e28305;
  line-height: 38px;letter-spacing: 6px;
}
.blk .blk_inner .blk_image {
  width: 50%;height: 100%;padding: 10px 50px 20px 50px;
}
.c_content {    
    margin: auto;padding: 75px 35px 35px 35px;display: flex;justify-content: space-between;position: relative;
    overflow: hidden;min-height: 90vh;height: 90vh;width: 100%;z-index: 0;
}
.c_content:focus {
  transform: scale(1.2);
}
/* video background */
.bg_video {
  width: 100%;
  min-height: 100% !important;
  height: 100% !important;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.c_overlay_d {
  position: absolute;background-color: #00000065;z-index: 1;top: 0;left: 0;right: 0;bottom: 0;
}
.c_content .hero_image {
  width: 60%;position: relative;z-index: 2;
}
.c_content .ca {
  width: 100%;text-align: left;
}
.c_content .ca .ca_in {
  margin: 0;
}
.c_content .ca span {
  color: #f1f1f1;text-align: left;font-size: 14px;margin-left: 0;
}
.c_content .ca input {
  background-color: #343155;color: #e2e2e2;font-size: 14px;font-weight: 600;padding: 3px 6px;
  border-radius: 60px;width: 75%;
}
.c_content .ca button {
  background-color: orange;color: #2c2b2b;font-size: 14px;font-weight: 600;padding: 3px 12px;
  border-radius: 60px;width: 20%;
}
.c_content .hero_image .hero_image_{
  width: 90%;margin: 80px 0 20px 60px;
}
.c_content .hero_h1 {
    margin: 1rem auto;text-align: center;align-items: center;width: 100%;position: relative;z-index: 2;
    font-weight: 900;font-family: "PaytoneOne Regular";padding: 5px auto 5px auto;
}
.c_content .hero_h1 h1 {
    font-size: 45px;font-weight: 900;color: #f1f1f1;font-family: "PaytoneOne Regular",sans-serif;
    margin: 5px auto;margin-bottom: 20px;line-height: 60px;
}
.c_content .hero_h1 div {
    margin-top: 55px;
}
.c_content .hero_h4 {
  font-size: 28px;color: #e28304;font-family: "RussoOne Regular",sans-serif;font-weight: 600;width: 80%;
  text-align: center;margin: 2rem auto 0 auto;text-transform: capitalize;line-height: 35px;
}
.c_content .hero_h1 div h2 {
    font-size: 32px;font-family: "RussoOne Regular", sans-serif;font-weight: 900;text-transform: capitalize;
}
.c_content .hero_h1 div p {
    font-size: 14px;font-family: "RussoOne Regular", sans-serif;font-weight: 900;text-transform: capitalize;text-align: left;
    line-height: 20px;letter-spacing: 1px;padding: 5px 0;margin-left: 50px;
}
.c_content .hero_h1 div.get_sd_btns {
    display: flex;justify-content: space-evenly;margin-top: 45px;
}
.c_content .hero_h1 div a.getstarted {
    background-color: #e28305;width: fit-content;padding: 2px 32px;border-radius: 60px;height: fit-content;
    font-family: "RussoOne Regular",sans-serif;font-size: 20px;font-weight: 600;box-shadow: 1px 1px 2px 2px #e28305;
    /* background: rgb(13,20,24);
background: linear-gradient(333deg, rgba(13,20,24,1) 0%, rgba(9,22,29,1) 0%, rgba(58,58,66,0.7049194677871149) 0%, rgba(57,57,62,0.9262079831932774) 0%, rgba(38,38,92,1) 0%, rgba(4,4,14,0.9626225490196079) 0%, rgba(36,168,19,0.9192051820728291) 0%, rgba(37,203,6,1) 100%, rgba(0,0,0,1) 100%, rgba(18,27,43,1) 100%, rgba(19,28,28,1) 100%, rgba(13,20,24,1) 100%, rgba(5,4,36,1) 100%, rgba(13,20,24,1) 100%, rgba(9,9,121,0.8757878151260504) 100%, rgba(0,212,255,1) 100%); */
}
.c_content .hero_h1 div a.learnmore {
    color: #e2e2e2;border: none;font-family: "RussoOne Regular";font-size: 20px;border: 2px solid #e28305;border-radius: 120px;
    font-weight: 600;padding: 2px 28px 2px 28px;border-radius: 60px;margin-top: 0;
}
.connectworld {
  width: 100%;background-image: url("../assets/images/bgbg.png");background-size: cover;background-repeat: no-repeat;
  color: #f1f1f1;padding-top: 60px;
}
.connectworld h1 {
  font-size: 40px;text-transform: uppercase;font-weight: 900;margin: 50px auto 30px auto;
  font-family: "RussoOne Regular",sans-serif;letter-spacing: 6px;padding: 10px;text-align: center;
}
.connectworld .conn_inner {
  width: 100%;display: flex;flex-direction: row;justify-content: space-between;
}
.connectworld .conn_inner .connectw {
  width: 48%;text-align: center;margin: 10px 2%;
}
.connectworld .conn_inner .connectw h2 {
  font-size: 28px;text-transform: uppercase;font-weight: 600;margin: 20px auto;
  font-family: "RussoOne Regular",sans-serif;letter-spacing: 6px;
}
.connectworld .conn_inner .connectw p {
  text-align: left;
}
.connectworld .conn_inner .conn_image {
  width: 50%;margin-top: 10px;height: 70vh;position: relative;margin: auto;
}
.connectworld .conn_inner .conn_image .cimg {
  width: 96%;height: 100%;margin: auto;text-align: center;
}
.connectworld .conn_inner .conn_image .cimg2 {
  width: 96%;height: 100%;margin: auto;text-align: center;transform: skew(-25deg);
}

.readmorebtn {
  border-radius: 120px;padding: 5px 16px;font-size: 13px;
  font-weight: 600;color: #f1f1f1;
}
.exchmain {color: #f1f1f1;
  width: 100%;padding: 10px 0 120px 0;
  width: 100%;background-image: url("../assets/images/bgbg.png");background-size: cover;background-repeat: no-repeat;
  /* background: rgb(13,20,24);
  background: linear-gradient(333deg, rgba(13,20,24,1) 0%, rgba(9,22,29,1) 0%, rgba(58,58,66,0.7049194677871149) 0%, rgba(57,57,62,0.9262079831932774) 0%, rgba(38,38,92,1) 0%, rgba(17,17,25,0.9626225490196079) 0%, rgba(9,10,11,1) 0%, rgba(0,0,0,1) 0%, rgba(4,12,4,1) 0%, rgba(6,14,6,1) 0%, rgba(6,14,6,1) 100%, rgba(37,203,6,1) 100%, rgba(0,0,0,1) 100%, rgba(18,27,43,1) 100%, rgba(19,28,28,1) 100%, rgba(13,20,24,1) 100%, rgba(5,4,36,1) 100%, rgba(13,20,24,1) 100%, rgba(9,9,121,0.8757878151260504) 100%, rgba(0,212,255,1) 100%); */
}
.exchmain h1 {
  font-size: 36px;text-align: center;margin: 3rem auto 1rem auto;
  font-weight: 800;padding-top: 3rem;font-family: "RussoOne Regular","RussoOne Regular",sans-serif;
  letter-spacing: 6px;color: #f1f1f1;
}
.exchmain h4 {
  font-size: 22px;text-align: center;margin: 1rem auto 1rem auto;color: #e28305;
  font-weight: 800;padding-top: .4rem;
}
.exchmain .dexchanges {
  width: 80%;margin: 15px auto;
}
.exchmain .dexchanges .dexc {
  display: flex;justify-content: space-around;padding: 15px 5px;margin: 0;flex-wrap: nowrap;
}
.exchmain .dexchanges .dexc .delginks {
  width: 130px;margin: 20px 0;
}
.frdbetting {
  width: 100%;padding: 40px 20px 80px 20px;color: #f1f1f1;
  background-image: url("../assets/images/bgbg.png");background-size: cover;background-repeat: no-repeat;
}
.frdbetting .betd {
  display: flex;justify-content: space-between;flex-direction: row;
}
.frdbetting .betd .betdc {
  width: 48%;position: relative;
}
.frdbetting .betd .betdc h1 {
  margin: 0 auto 0 auto;text-align: center;font-size: 38px;font-family: "RussoOne Regular",sans-serif;
  letter-spacing: 6px;font-weight: 900;
}
.frdbetting .betd .betdc h3 {
  margin: 0 auto 30px auto;text-align: center;font-size: 20px;font-weight: 900;
}
.frdstaking {
  width: 100%;text-align: center;padding-bottom: 0;color: #f1f1f1;padding-left: 20px;padding-right: 20px;
  background-image: url("../assets/images/bgbg.png");background-size: cover;background-repeat: no-repeat;
}
.frdstaking h3 {
  font-size: 13px;color: #e28305;font-family: "RussoOne Regular", sans-serif;
}
.frdstaking h1 {
  font-size: 40px;color: #f1f1f1;text-align: center;margin: 20px auto 5rem auto;width: max-content;padding-bottom: 60px;
  font-family: "PaytoneOne Regular","RussoOne Regular",sans-serif;font-weight: 600;letter-spacing: 6px;padding-top: 20px;
}
.frdstaking .stakebanner {
  width: 60%;text-align: center;margin: auto;
}
.frdstaking .gov {
  width: 100%;padding: 0 auto 15px auto;text-align: center;
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 3%,rgba(0,0,0,0.65) 14%,rgba(0,0,0,0.65) 20%,rgba(0,0,0,0.65) 28%,rgba(0,0,0,0.65) 35%,rgba(0,0,0,0.65) 82%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* background: rgb(13,20,24);
background: linear-gradient(333deg, rgba(13,20,24,1) 0%, rgba(9,22,29,1) 0%, rgba(58,58,66,0.7049194677871149) 0%, rgba(57,57,62,0.9262079831932774) 0%, rgba(38,38,92,1) 0%, rgba(17,17,25,0.9626225490196079) 0%, rgba(9,10,11,1) 0%, rgba(0,0,0,1) 0%, rgba(4,12,4,1) 0%, rgba(6,14,6,0.7903536414565826) 0%, rgba(6,14,6,0.8575805322128851) 100%, rgba(37,203,6,1) 100%, rgba(0,0,0,1) 100%, rgba(18,27,43,1) 100%, rgba(19,28,28,1) 100%, rgba(13,20,24,1) 100%, rgba(5,4,36,1) 100%, rgba(13,20,24,1) 100%, rgba(9,9,121,0.8757878151260504) 100%, rgba(0,212,255,1) 100%); */
}
.frdstaking .gov .gov_in {
  display: flex;flex-direction: row;justify-content: space-between;flex-wrap: wrap;
}
.frdstaking .gov .gov_in .gov_c {
  width: 25%;padding: 10px 30px 10px 30px;
}
.frdstaking .gov .gov_in .gov_c .image_c {
  right: 0;left: 0;border: 2px solid #e28305;margin: auto;text-align: center;
  padding: 5px 10px;width: fit-content;border-radius: 50%;margin-top: -40px;
  /* border-bottom-left-radius: 18px;border-top-left-radius: 18px;border-bottom-right-radius: 18px;
  border-top-right-radius: 18px; */
}
.frdstaking .gov .gov_in .gov_c .gov_img {
  margin: 5px auto;text-align: center;width: 60px;
}
.frdstaking .gov .gov_in .gov_c h2 {
  font-family: "RussoOne Regular", sans-serif;color: #ffffff;font-size: 24px;margin: .5rem auto 1rem auto;padding-top: 1rem;
}
.frdstaking .gov .gov_in .gov_c p {
  font-family: "RussoOne Regular", sans-serif;color: #f1f1f1;font-size: 14px;
}
.frdstaking {
  padding: 120px auto 20px auto;width: 100%;overflow: hidden;
}
.frdstaking .stakingmain {
  display: flex;flex-direction: row;justify-content: space-between;
}
.frdstaking .stakingmain .stakevesttext {
  width: 46%;margin: 1rem auto;text-align: left;
}
.frdstaking .stakingmain .stakevesttext h4 {
  font-size: 18px;font-weight: 800;
}
.frdstaking .stakingmain .stakevesttext ul li {
  margin: 20px 0 10px 0;font-size: 14px;
}
.frdstaking .stakingmain .stakevestimg {
  width: 50%;margin: 1rem auto;
}
.frdstaking .stakingmain .stakevest_img {
  text-align: right;width: auto;
}
.frdstaking h1 {
  text-align: center;margin: 0 auto;font-size: 42px;font-family: "RussoOne Regular", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
}
.frdstaking .stakingmain p {
  text-align: left;font-size: 14px;font-family: "RussoOne Regular", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 30px auto 30px auto;
}
.frdreferrals {
  padding: 60px 20px 60px 20px;width: 100%;overflow: hidden;color: #f1f1f1;
  background-image: url("../assets/images/bgbg.png");background-size: cover;background-repeat: no-repeat;
}
.frdreferrals .referralsmain {
  display: flex;flex-direction: row;justify-content: space-between;margin: 4rem auto 1rem auto;
}
.frdreferrals .referralsmain .referralstext {
  width: 56%;margin: 1rem auto;
}
.frdreferrals .referralsmain .referralstext h4, .frdreferrals .referralsmain .referralstext h5 {
  font-size: 14px;font-weight: 800;margin-bottom: 15px;
}
.frdreferrals .referralsmain .referralstext ul li {
  margin: 20px 0 10px 0;font-size: 14px;
}
.frdreferrals .referralsmain .referralsimg {
  width: 40%;margin: 1rem auto;
}
.frdreferrals .referralsmain .referrals_img {
  text-align: right;width: auto;
}
.frdreferrals h1 {
  text-align: center;margin: 2rem auto;font-size: 42px;font-family: "RussoOne Regular", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;color: #e28305;
}
.frdreferrals .referralsmain p {
  text-align: left;font-size: 14px;font-family: "RussoOne Regular", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 30px auto 30px auto;
}
.freeclaim {
  width: 100%;padding: 2rem 1rem 3rem 1rem;margin: 3rem auto 3rem auto;color: #f1f1f1;
}
.freeclaim h1 {
  text-align: center;margin: 2rem auto;font-size: 42px;font-family: "RussoOne Regular", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
}
.freeclaim .freeclaimmain {
  width: 100%;margin: auto;text-align: center;
}
.freeclaim p {
  text-align: left;font-size: 14px;font-family: "RussoOne Regular", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 30px auto 30px auto;
}
.freeclaim button {
  border: none;border-radius: 120px;padding: 6px 20px 6px 20px;color: #1f1d1d;background-color: orange;
  font-weight: 900;margin: 1rem auto;text-align: center;font-size: 18px;
}
.aboutfrd {
  width: 100%;padding: 1rem 1rem 1rem 1rem;color: #f1f1f1;
  background-image: url("../assets/images/bgbg.png");background-size: cover;background-repeat: no-repeat;
}
.aboutfrd h1 {
  text-align: center;margin: 2rem auto;font-size: 42px;font-family: "RussoOne Regular", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
}
.aboutfrd p {
  text-align: left;font-size: 14px;font-family: "RussoOne Regular", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 30px auto 30px auto;
}
.aboutfrd ul {
  margin: 2rem 0;
}
.aboutfrd ul h4 {
  font-size: 22px;font-weight: 800;
}
.aboutfrd ul li {
  margin: 20px 0 10px 0;font-size: 14px;font-family: "RussoOne Regular", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.tkl {
  width: 100%;margin: auto 0;padding: 0;
  background: rgb(13,20,24);
background: linear-gradient(333deg, rgba(13,20,24,1) 0%, rgba(9,22,29,1) 0%, rgba(58,58,66,0.7049194677871149) 0%, rgba(57,57,62,0.9262079831932774) 0%, rgba(38,38,92,1) 0%, rgba(17,17,25,0.9626225490196079) 0%, rgba(9,10,11,1) 0%, rgba(0,0,0,1) 0%, rgba(4,12,4,1) 0%, rgba(6,14,6,0.7903536414565826) 0%, rgba(6,14,6,0.8575805322128851) 100%, rgba(37,203,6,1) 100%, rgba(0,0,0,1) 100%, rgba(18,27,43,1) 100%, rgba(19,28,28,1) 100%, rgba(13,20,24,1) 100%, rgba(5,4,36,1) 100%, rgba(13,20,24,1) 100%, rgba(9,9,121,0.8757878151260504) 100%, rgba(0,212,255,1) 100%);
}
.tkl .tkl_in {
  width: 100%;
}
.tkl .tkl_in .tkl_head  {
  margin: 2rem auto;text-align: center;
}
.tkl .tkl_in .tkl_head h4 {
  font-size: 14px;font-family: "RussoOne Regular",Verdana, Geneva, Tahoma, sans-serif;color: #e28305;margin: 20px auto 0 auto;
  padding-top: 40px;font-weight: 600;
}
.tkl .tkl_in .tkl_head h1 {
  font-size: 42px;font-family: "RussoOne Regular",Verdana, Geneva, Tahoma, sans-serif;color: #f1f1f1;margin: 0 auto 0 auto;
  padding-top: 5px;font-weight: 600;
}
.tkl .tkl_in .tkl_head p {
  font-size: 14px;font-family: "RussoOne Regular", sans-serif;color: #f1f1f1;margin: 0 auto 0 auto;
  padding-top: 0;font-weight: 500;
}
.tkl .tkl_in .tkl_head .dexlinks {
  display: flex;flex-wrap: wrap;flex-direction: row;justify-content: space-evenly;margin-top: 40px;
} 
.tkl .tkl_in .tkl_head .dexlinks a {
  border-left: 2px solid #e2e2e2;padding-left: 5px;margin: 15px 5px 15px 5px;
}
.tkl .tkl_in .tkl_head .dexlinks a .launchlinks {
  width: 160px;
} 
.tkl .tkl_in .tkl_body {
  display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-between;
  margin: 10px 80px 40px 80px;padding-bottom: 80px;
}
.tkl .tkl_in .tkl_body .tkl_bc {
  background-color: #5d7964c0;width: 45%;border-radius: 16px;padding: 25px 30px 25px 30px;margin: auto;text-align: center;
}
.tkl .tkl_in .tkl_body .tkl_bc.skwe1_ {
  transform: skew(0, 15deg);
}
.tkl .tkl_in .tkl_body .tkl_bc.skwe2_ {
  transform: skew(15deg, 0);
}
.tkl .tkl_in .tkl_body h3 {
  font-size: 18px;font-family: "RussoOne Regular",sans-serif;text-align: center;margin: 10px auto 2px auto;color: #f1f1f1;
  font-weight: 800;
}
.tkl .tkl_in .tkl_body h2 {
  font-size: 38px;font-family: "RussoOne Regular",sans-serif;text-align: center;margin: 15px auto;color: #e28305;
  font-weight: 600;
}
.tkl .tkl_in .tkl_body p {
  font-family: "RussoOne Regular", sans-serif;color: #f1f1f1;text-align: left;padding: 0 15px;
}
.tkl .tkl_in .tkl_body .button {
  font-family: "RussoOne Regular", sans-serif;font-size: 14px;font-weight: 900;margin: 35px auto;text-align: center;
  border-radius: 120px;border: 2px solid #e28305;width: fit-content;padding: 6px 32px;color: #e28305;
}
.tkl .tkl_in .tkl_body .btn {
  background-color: #e28305;
  font-family: "RussoOne Regular", sans-serif;font-size: 14px;font-weight: 900;margin: 35px auto;text-align: center;
  border-radius: 120px;border: 2px solid #e28305;width: fit-content;padding: 6px 32px;color: #18221b;
}
.roadmap {
  width: 100%;background-image: url("../assets/images/bgbg.png");background-size: cover;background-repeat: no-repeat;
  padding: 20px auto 120px auto;overflow-x: hidden;color: #f1f1f1;margin-bottom: 10px;margin-top: 80px;
} 
.roadmap .rdm h1 {
  font-size: 38px;font-family: "RussoOne Regular", sans-serif;margin: 5px auto 0 auto;text-align: center;color: #f1f1f1;
  font-weight: 800;
}
.roadmap .rdm h4 {
  font-size: 14px;font-family: "RussoOne Regular", sans-serif;margin: 1px auto 60px auto;text-align: center;color: #e28305;
  font-weight: 600;
}
.roadmap .rdm .tmlc {
  margin-bottom: 0;padding-bottom: 60px;
}

@media (max-width: 1200px) and (min-width: 991px) {
    .blk {
      margin: 0 auto 0 auto;padding-top: 60px;padding-bottom: 60px;
    }
    .blk .blk_inner .blkc1 h1 {
        font-size: 38px;margin: 20px auto 20px auto;
    }
    .blk .blk_inner .blkc2 h1 {
      font-size: 28px;line-height: 48px;
    } 
    .blk .blk_inner .blk_image {
      padding: 10px 20px 10px 20px;margin-top: 15px;
    }
    .c_content .hero_h1 .h1 {
        font-size: 45px;line-height: 40px;
    }
    .c_content .hero_h1 h1 {
        font-size: 35px;line-height: 35px;
    }
    .c_content .hero_h1 div {
        margin-top: 55px;
    }
    .frdstaking .gov .gov_in .gov_c {
      width: 25%;margin: 1rem auto;padding: 10px 10px 30px 10px;
    }
    .frdstaking .gov .gov_in .gov_c .image_c {
      top: -45px;
      /* border-bottom-left-radius: 18px;border-top-left-radius: 18px;border-bottom-right-radius: 18px;
      border-top-right-radius: 18px; */
    }
    .frdstaking .gov .gov_in .gov_c .gov_img {
      width: 50px;
    }
    .frdstaking .gov .gov_in .gov_c h2 {
      font-size: 20px;
    }
}
@media (max-width: 990px) {
    .blk {
      width: 100%;margin: 0 auto 0 auto;padding-top: 140px;padding-bottom: 20px;
    }
    .blk .blk_inner {
      display: block;flex-direction: none;justify-content: unset;
    }
    .blk .blk_inner .blkc {
      width: 100%;padding: 25px;
    }
    .blk .blk_inner .blkc1 h1 {
        font-size: 32px;margin: 40px auto 20px auto;line-height: 48px;
    }
    .blk .blk_inner .blkc2 h1 {
      font-size: 22px;line-height: 30px;
    } 
    .blk .blk_inner .blk_image {
      width: 100%;height: 100%;padding: 10px 50px 60px 50px;
    }
    .c_content {
      min-height: 70vh;height: 70vh;padding: 25px 0 35px 0;
    }
    .bg_video {
      width: 100%;
      object-fit: cover;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
    }
    .c_content .hero_h4 {
      width: 100%;
    }
    .c_content .hero_h1 .h1 {
        font-size: 35px;line-height: 35px;
    }
    .c_content .hero_h1 h1 {
        font-size: 25px;line-height: 30px;
    }
    .c_content .hero_h1 div {
        margin-top: 5px;
    }
    .connectworld {
      padding: 10px 10px 10px 10px;
    }
    .connectworld .conn_inner {
      display: block;flex-direction: none;justify-content: unset;
    }
    .connectworld .conn_inner .connectw {
      width: 100%;margin: 10px 2%;
    }
    .connectworld h1 {
      font-size: 30px;
    }
    .connectworld .conn_inner .connectw h2 {
      font-size: 20px;
    }
    .connectworld .conn_inner .conn_image {
      width: 100%;margin-top: 10px;height: 100%;
    }
    .connectworld .conn_inner .conn_image .cimg {
      width: 100%;height: 100%;
    }
    .connectworld .conn_inner .conn_image .cimg2 {
      width: 90%;height: 90%;padding: 10px 30px 10px 30px;
    }
    .exchmain {
      margin-top: -120px;margin-bottom: 60px;padding: 0 0 80px 0;
    }
    .frdstaking .stakingmain {
      display: block;flex-direction: none;justify-content: none;margin: 4rem auto 1rem auto;
    }
    .frdstaking h1 {
      line-height: 46px;margin: 0 auto -80px auto;
    }
    .frdbetting {
      margin-top: -80px;
    }
    .frdbetting .betd {
      display: block;justify-content: unset;flex-direction: none;
    }
    .frdbetting .betd .betdc {
      width: 100%;
    }
    .frdbetting .betd .betdc .setimg {
      margin-top: 120px;
    }
    .frdstaking .stakingmain .stakevesttext {
      width: 100%;
    }
    .frdstaking .stakingmain .stakevestimg {
      width: 100%;margin-top: 40px; 
    }
    .frdstaking .stakingmain .stakevest_img {
      text-align: right;width: auto;
    }
    .frdreferrals {
      padding: 0 20px 40px 20px;margin-top: 60px;
    }
    .frdreferrals .referralsmain {
      display: block;flex-direction: none;justify-content: unset;margin: 1rem auto 1rem auto;
    }
    .frdreferrals .referralsmain .referralstext {
      width: 100%;
    }
    .frdreferrals .referralsmain .referralsimg {
      width: 100%;
    }
}
@media (max-width: 767px) {
  .blk {
    padding-top: 60px;
  }
  .connectworld h1 {
    font-size: 28px;margin-bottom: 20px !important;
  }
  .exchmain {
    margin-top: -140px;margin-bottom: -20px;
  }
  .exchmain h1 {
    font-size: 28px;margin-bottom: 20px !important;
  }
  .frdbetting .betd .betdc h1 {
    font-size: 28px;margin-bottom: 20px !important;
  }
  .frdstaking h1 {
    font-size: 28px;margin-bottom: -100px !important;margin-top: -20px;
  }
  .frdreferrals h1 {
    font-size: 28px;margin-bottom: 20px !important;
  }
  .aboutfrd h1 {
    font-size: 28px;margin-bottom: 20px !important;
  }

}
@media (max-width: 567px) {
  .frdstaking .gov .gov_in .gov_c {
    width: 90%;
  } 
  .tkl .tkl_in .tkl_body .tkl_bc {
    width: 95%;padding: 25px 10px 25px 10px;margin: 2rem auto;
  }
}
@media (max-width: 480px) {
  .frdstaking .gov .gov_in .gov_c {
    width: 90%;
  } 
}

.section {
  overflow: hidden;
  transition: transform 1s ease-in-out, scale 1s ease-in-out;
  transform: scale(1);
  transition: opacity 1s ease-out;
}
.section::-moz-focus-outer {
  position: fixed;top: 0;bottom: 0;
  right: 0;left: 0;
  height: 100vh;
  width: 100vw;
}
.inFocus {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.fade_out {
  opacity: 0;
  transition: opacity 1s ease-out;
}
